<!DOCTYPE HTML>
<html>
<head> 
    <title>Jazel's Quiz: Question 2</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h2>Question 2</h2>
<h3>What habit of yours annoys the people you live with?</h3>

<!--action can be html view or controller mapping-->
<form action="/postq2">
	<div>
	<input type="radio" id="cyrus" name="roommate" value="lazy">
	<label for="cyrus">Being too lazy to clean</label><br>

	<input type="radio" id="lnx1" name="roommate" value="noisy">
	<label for="lnx1">Making too much noise</label><br>

	<input type="radio" id="shaking" name="roommate" value="venter">
	<label for="shaking">Frequent venting/infodumping</label><br>

	<input type="radio" id="thankyou" name="roommate" value="perf">
	<label for="thankyou">Nothing, I'm perfect</label><br>

	<input type="radio" id="wazowski" name="roommate" value="homebody">
	<label for="wazowski">Staying indoors too much of the time</label><br>
	</div>

	<div><input type="submit" value="Next"></div>
</form>

</html>