<!DOCTYPE HTML>
<html>
<head> 
    <title>Jazel's Quiz: Question 3</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h2>Question 3</h2>
<h3>What supporting character would you play in a high school teen movie?</h3>

<!--action can be html view or controller mapping-->
<form action="/postq3">
	<div>
	<input type="radio" id="cyrus" name="movie" value="brainiac">
	<label for="cyrus">The brainiac</label><br>

	<input type="radio" id="lnx1" name="movie" value="theater">
	<label for="lnx1">The theater kid</label><br>

	<input type="radio" id="shaking" name="movie" value="meanie">
	<label for="shaking">The mean girl</label><br>

	<input type="radio" id="thankyou" name="movie" value="jock">
	<label for="thankyou">The jock</label><br>

	<input type="radio" id="wazowski" name="movie" value="ditcher">
	<label for="wazowski">The class-ditcher</label><br>
	</div>

	<div><input type="submit" value="Next"></div>
</form>

</html>